

/* SCSS HEX */
$gunmetal: #2c363f;
$blush: #e75a7c;
$ivory: #f2f5ea;
$timberwolf: #d6dbd2;
$laurel-green: #bbc7a4;
$linkslate:#124675;


/* SCSS RGB 
$gunmetal: rgba(44, 54, 63, 1);
$blush: rgba(231, 90, 124, 1);
$ivory: rgba(242, 245, 234, 1);
$timberwolf: rgba(214, 219, 210, 1);
$laurel-green: rgba(187, 199, 164, 1);

*/
/* viewport media */
@mixin for-tablet{
	@media(min-width:768px) and (max-width:1024px){@content}
}
@mixin for-desktop-up{
	@media(min-width:1024px){@content}
}
@mixin for-large{
	@media(min-width:1024px) and (max-width:1280px){@content}
}

@mixin for-xlarge{
	@media(min-width:1281px) and (max-width:1500px){@content}
}

@mixin for-xxlarge{
	@media(min-width:1501px){@content}
}


$primaryfont: 'IBM Plex Sans',sans-serif;

*{
	font-family:$primaryfont;
	color:$gunmetal;
}


body{
	margin:0;
	background:$ivory;
	pre{
		margin-bottom:0;
	}
	img{
		max-width:100%;
		
	}
	h1{
		margin-bottom:4rem;
		position:relative;
		font-size: 2rem;
		&:after{
			content:"";
			width:25px;
			height:1px;
			display:inline-block;
			position:absolute;
			background:$blush;
			top:calc(120% - 5px);
			left:0;
		}
	}
	h2{
		font-size:1.75rem;
		line-height:34px;
		color:$gunmetal;
		position:relative;
		&:after{
			content:"";
			width:25px;
			height:1px;
			display:inline-block;
			position:absolute;
			background:$blush;
			top:120%;
			left:0;
		}
	}
	h3{
		font-size:1.4rem;
	}
	h4{
		font-size:1.2rem;
	}
	h5{
		font-size:10px;
	}
	p{
		line-height: 1.8;
		margin: 0 auto 1.4rem;
	}
	a{
		text-decoration:none;
		color:$linkslate;
		&:hover{
			text-decoration: underline;
		}
	}
	ul{
		li{
			line-height:1.6;
			margin-bottom: .8rem;
		}
	}
	main{
		padding-top:100px;
		&#home{
			padding-top:0;
		}
	}
}
.banner{
	position:relative;
	height:100vh;
	&:after{
		content:"";
		background:rgba(0,0,0,0.55);
		position:absolute;
		left:0;
		right:0;
		top:0;
		bottom:0;
	}
	.banner-details{
		position:absolute;
		top:50%;
		left:50%;
		z-index:9;
		display:flex;
		justify-content:center;
		align-items:center;
		flex-direction:column;
		transform:translate(-50%,-50%);
		-webkit-transform:translate(-50%,-50%);
		-moz-transform:translate(-50%,-50%);
		-ms-transform:translate(-50%,-50%);
		-o-transform:translate(-50%,-50%);
		width:90%;
		color:#fff;
		
		span{
			font-size:25px;
			margin-bottom:20px;
			text-shadow:1px 1px 4px #333;
		}
		h1{
			font-size:60px;
			margin-top:0;
			margin-bottom:20px;
			text-align:center;
			text-shadow:1px 1px 4px #333;
			color:white;
		}
		.sub-data{
			padding:0;
			display:flex;
			list-style:none;
			margin:0 0 30px 0;
			li{
				padding:0 15px;
				position:relative;
				font-size:18px;
				text-shadow:1px 1px 4px #333;
				color:white;
				&:after{
					content:"";
					width:6px;
					height:6px;
					display:inline-block;
					background:#fff;
					position:absolute;
					top:50%;
					margin-top:-3px;
					right:-3px;
					border-radius:50%;
				}
				&:last-child:after{
					display:none;
				}

			}

		}
		.social{
			display:flex;
			margin:0;
			padding:0;
			list-style:none;
			li{
				margin:0 10px;
				a{
					text-decoration:none;
					width:40px;
					height:40px;
					display:flex;
					justify-content:center;
					align-items:center;
					border:2px solid #fff;
					color:#fff;
					position:relative;
					overflow:hidden;
					&:after{
						content:"";
						background:#ef5826;
						position:absolute;
						top:-100%;
						left:0;
						-webkit-transition:0.3s all;
						transition:0.3s all;
						height:100%;
						width:100%;
				}
					&:before{
						position:relative;
						z-index:1;
				}
					&:hover:after{
						top:0;
				}

			}
	
		}

	}
	}
	img{
		width:100%;
		height:100%;
		-o-object-fit:cover;
		object-fit:cover;
	}
	.gatsby-image-wrapper{
		height:100vh;
		width:100%;
	}
}
.site-header{
	background:rgba(44, 54, 63, .8);
	position:fixed;
	top:0;
	left:0;
	right:0;
	z-index:999;
	padding:0;
	*{
		color:#fff;
	}
	.header-main{
		display:flex;
		justify-content:center;
		align-items:center;
		.logo{
			width:10%;
			a{
				display: grid;
			    align-items: start;
			    grid-template: 1fr/70px auto;
			    text-decoration: none;
			    
				span{
					display: block;
					font-size: 14px;
				    max-width: 30px;
				    line-height: 1.4;
				    align-self: center;
				    margin-left: 10px;
				    margin-bottom: 0;
				    color: #f2f5ea;
				    opacity: .6;
				}
				svg {
				    height: auto;
				    width: 100%;
				    opacity: .4;
				    path{
					    fill:$ivory!important
				    }
				}

			}
		}
		.menu{
			width:90%;
			display:flex;
			align-items:center;
			justify-content:flex-end;
			ul{
				padding:0;
				display:flex;
				margin:0;
				justify-content:flex-end;
				list-style:none;
				li{
					margin:0 10px;
					a{
						position:relative;
						color:#fff;
						overflow:hidden;
						text-decoration:none;
						&:after{
							content:"";
							width:0;
							height:1px;
							position:absolute;
							bottom:-3px;
							left:0;
							background:#fff;
							transition:0.5s all;
						}
						&:hover:after{
							width:100%;
							transition:0.5s all;
						}
						&:hover{
						    text-decoration:none;
					    }	
					}
				}
			}
		}
	}
}

.section{
	padding:50px 0;
	.container{
		max-width:900px;
		margin:0 auto;
		padding: 0 2rem;
	}
	&:nth-child(even){
		background:$timberwolf;
		.service-main{
			background:$ivory;
		}

	}
	.service-main{
		text-align:center;
		box-shadow:3px 3px 8px 2px rgba(0,0,0,.5);
		padding:30px 30px;
		transition:0.5s all;
		background:#fff;
		&:hover{
			box-shadow:3px 3px 8px 2px rgba(0,0,0,.5);
			transition:0.5s all;
		}
	}

}
section{
	&.contentHeader {
		max-width: 900px;
		margin: 0 auto;
	}
	&#about{
		padding-top:0;
		.container{
			display:grid;
			@include for-desktop-up{
				grid-template:1fr/1fr 40%;
			}
		}

		.about-image-container{
			display:none;
			@include for-desktop-up{
				display:block;
			}
			.gatsby-image-wrapper{
				width:auto;
				height: calc(100% + 50px);
				img{
					object-position:top center!important;
				}

			}
		}
		.about-text-container {
			padding-top: 100px;
			margin-right: 2rem;
			.about-details{
				.about-intro{
					display:grid;
					grid-template: auto/1fr 100px;
					grid-auto-flow:row;
					@include for-desktop-up{
						display:block;
					}
				}
				.about-avatar{
					border-radius: 50%;
					width: 100px;
					height: 100px;
					overflow: hidden;
					grid-row: 1/3;
					grid-column: 2;
				
					@include for-desktop-up{
						display:none;
					}
					
				}
				.name{
					margin-bottom:10px;
					display:block;
				}
				.sub-position{
					margin-bottom: 0;
					display:block;
					grid-row: 2;
					margin-top: 0;
					span.certification {
						width: 80px;
						height: 80px;
						vertical-align: middle;
						margin-left: 1rem;
						display: inline-block;
					}
					&::after{
						content:none;
					}
				}
				.details{
					padding:0;
					list-style:none;
					border-top:1px solid #000;
					padding-top:30px;
					margin-bottom:30px;
					li{
						display:flex;
						align-items:center;
						margin-bottom:10px;
						p{
							margin:0;
						}
						strong{
							width:160px;
						}
					}
				}
				.socials{
					margin-top:2rem;
					ul{
						margin:0;
						padding:0;
						list-style:none;
						display:flex;
						float: right;
						li{
							margin-right:10px;
							a{
								text-decoration:none;
								width:40px;
								height:40px;
								display:flex;
								justify-content:center;
								align-items:center;
								border:2px solid #fff;
								color:#333;
								position:relative;
								overflow:hidden;
								background-color: rgba(255,255,255,.7);
								border-radius: 5px;
								padding: .2rem;
								flex-flow: column;
								&>svg{
									width: 16px;
								}
								&:before{
									position:relative;
									z-index:1;
									display: block;
								}
								&.resume {
									width: 120px;
									&:after{
										content: 'Resumé';
										font-size: .7rem;
										display: block;
										font-family: $primaryfont;
										margin-top: 5px;

									}
								}

							}
						}
					}
				}
			}
		}
	}

	&#projects{
		.projects-list{
		display:flex;
		flex-wrap:wrap;
		list-style:none;
		padding:0;
		max-width: 900px;
    	margin: 0 auto;
		.item{
			padding:0 10px;
			margin-bottom:3rem;
			display:grid;
			grid-template:auto/1fr;
			@include for-desktop-up{
				grid-template:1fr/40% 1fr;
			}
			.details{
				width:100%;
				@include for-desktop-up{
					padding:20px 20px;
				}
				
				h3{
					a{
						text-decoration: none;
						&:hover{
							text-decoration:underline;
						}
					}
				}
				
			}	
			.inner{
				text-align:left;
				-webkit-transition:0.5s all;
				transition:0.5s all;
				display:flex;
				position:relative;
				overflow:hidden;
				
				img{
					width:100%!important;
					-webkit-transition:0.3s all!important;
					transition:0.3s all!important;
				}
				&:hover img{
					transform:scale(1.1);
				}
				.details{ 
					.title{
						margin-bottom:5px;
						text-shadow:1px 1px 4px #333;
						a{
							color:#fff;
							font-size:24px;
							text-shadow:1px 1px 4px #333;
							text-decoration:none;
							&:hover{
								text-decoration:underline;
							}
						}

					}
					.date{
						display:block;
						margin-bottom:0;
						text-shadow:1px 1px 4px #333;
						p{
							margin-bottom:0;
						}
					
					}

				}

				.link{
					position:absolute;
					top:0;
					bottom:0;
					left:0;
					right:0;
					width:100%;
					height:100%;
					z-index:11;
				}
				.gatsby-image-wrapper{
					width:100%;
					height:250px;
				}

			}
			.no-image{
				height:250px;
				width:100%;
				text-align:center;
				background:rgba(0,0,0,.6);
				display:flex;
				justify-content:center;
				align-items:center;
			}

			&:nth-child(1),
			&:nth-child(2){
				.inner .gatsby-image-wrapper{
					height:200px;
				}
				.no-image{
					height:200px;
				}


			}
		}
		

		&.few-projects .item{
			.inner .gatsby-image-wrapper{
				height:200px;
			}

		}
		}
	}
	&#case-studies{
		#backLink {
			max-width: 900px;
		}
		.details{
			padding:20px 0;
			max-width: 900px;
    		margin: 0 auto;
			h1{
				font-size:26px;
				margin-bottom:20px;
				&:after{
					content:none;
				}
			}
			.date{
				font-size:14px;
				margin-bottom:30px;
			}
			h2{
				font-size:22px;
				line-height:26px;
				margin-bottom:20px;
			}
			h3{
				font-size:18px;
			}
			h4{
				font-size:16px;
			}
			img{
				margin:0 auto;
				float:none;
				display:block;
				margin-bottom:30px;
			}
	
			.date{
				margin-bottom:40px;
				display:block;
			}
			.feature-img{
				width:100%;
				height:200px;
				@include for-desktop-up{
					height:600px;
				}
	
			}
	
			section{
				margin: 2rem 0;
	
				ul{
					li{
						font-size:14px;
					}
				}
			}
		}
	}
	&#standardContent{
		#backLink{
			display:none;
		}
		section{
			padding:20px 0;
			max-width: 900px;
    		margin: 0 auto;
		}
	}
	&.tags{
		ul {
			display: flex;
			list-style: none;
			flex-flow: row wrap;
			padding: 0;
	
			li {
				margin: 0 1rem 1rem 0;
				background: $laurel-green;
				padding: .3rem 1rem;
				display: flex;
				align-content: center;
				align-items: center;
				font-size: 12px;
				border-radius: 14px;
			}
	
		}
	}
}


form{
	label{
		width:100%;
	}
	input,
	textarea{
		display:block;
		width:100%;
		padding:10px 15px;
		box-sizing:border-box;
		outline:none;
		resize:none;
		background:#fafafe!important;
		z-index:2;
		position:relative;
		line-height:18px;
		font-size:16px;
		-webkit-transition:none 0s ease 0s;
		transition:none 0s ease 0s;
		border:1px solid hsla(0,0%,80%,.37);
		margin:10px 0 0;
	}
	textarea{
		height:100px;
	}
	button{
		text-indent:-10px;
		background:$gunmetal;
		color:#fff;
		box-shadow:0 10px 50px rgba(58,58,58,.26);
		line-height:1px;
		padding:23px;
		text-transform:capitalize;
		-webkit-transition:all .3s linear;
		transition:all .3s linear;
		min-width:186px;
		overflow:hidden;
		-webkit-border-radius:4px;
		-moz-border-radius:4px;
		border-radius:4px;
		font-size:15px;
		border:none;
		display:inline-block;
	}
	&>div{
		margin-bottom:15px;
	}
}
.section-head{
	margin-bottom:20px;
}
.section:nth-child(odd){
	form{
		input,
		textarea{
			background:#fff!important;
		}
	}
}

.see-more{
	text-align:center;
	display:inline-block;
	width:100%;
	margin-top:20px;
	a{
		text-decoration:none;
		width:auto;
		height:auto;
		border:1px solid #333;
		color:#333;
		position:relative;
		overflow:hidden;
		padding:8px 20px;
		display:inline-block;
		font-weight:600;
		&:after{
			content:"";
			background:#333;
			position:absolute;
			top:-100%;
			left:0;
			-webkit-transition:0.3s all;
			transition:0.3s all;
			height:100%;
			width:100%;
			z-index:0;
		}
		&:hover{
			color:#fff;
			text-decoration:underline;
			&:after{
				top:0;
			}
		}
		span{
			position:relative;
			z-index:1;
		}
	}
}
.work-list{
	display:flex;
	flex-wrap:wrap;
	list-style:none;
	padding:0;
	margin:0 -5px;
	.item{
		width:33.33%;
		padding:0 5px;
		margin-bottom:10px;
	}
}

.site-footer{
	padding:20px;
	background:$gunmetal;
	margin-bottom:0;
	text-align:center;
	color:#fff;
	@include for-desktop-up{
		margin-bottom:10px;
	}
}






.about-details p img{
	width:45px;
}

.post-social{
	margin-bottom:40px;
	button{
		text-decoration:none;
		width:auto;
		height:auto;
		border:1px solid #333!important;
		color:#333!important;
		position:relative;
		overflow:hidden;
		padding:8px 20px!important;
		display:inline-block;
		font-weight:600;
		margin-right:10px;
		&:after{
			content:"";
			background:#333;
			position:absolute;
			top:-100%;
			left:0;
			-webkit-transition:0.3s all;
			transition:0.3s all;
			height:100%;
			width:100%;
			z-index:0;
		}
		&:hover{
			span{
				color:#fff;
			}
			&:after{
				top:0;
			}
		}
		span{
			position:relative;
			z-index:1;
			&.icon{
				margin-right:5px;
			}
		}
	}
}

.responsive-menu{
	width:30px;
	height:25px;
	display:none;
	justify-content:center;
	align-items:center;
	span{
		background:#fff;
		display:block;
		height:2px;
		position:relative;
		transition:background .2s ease-out;
		width:18px;
		&:after{
			top:-5px;
		}
		&:before{
			top:5px;
		}
		&:before,
		&:after{
			background:#fff;
			content:'';
			display:block;
			height:100%;
			position:absolute;
			transition:all .2s ease-out;
			width:100%;
		}
	}
}


.experience-list{
	h2.title {
	    margin-bottom: 0;
	}
	.pills ul {
	    display: flex;
	    list-style: none;
	    flex-flow: row wrap;
	    padding: 0;
	    li {
		    margin: 0 1rem 1rem 0;
		    background: $laurel-green;
		    padding: 0.3rem 1rem;
		    display: flex;
		    align-content: center;
		    align-items: center;
		    font-size: 12px;
		    border-radius: 14px;
		}

	}
	ul.dates{
		list-style: none;
	    padding: 0;
	    display: flex;

		li.endDate:before {
		    content: '–';
		    display: inline-block;
		    margin: 0 0.6rem;
		}
	}
}

@media only screen and (max-width:991px){
	
    .projects-list .item{
		width:50%!important;
	}
    .projects-list .item .inner .gatsby-image-wrapper{
		height:200px!important;
	}
    .projects-list .item:nth-child(1) .no-image,.projects-list .item:nth-child(2) .no-image{
		height:200px!important;
	}
   .case-study .feature-img{
		height:400px;
	}
}
@media only screen and (max-width:767px){
	
    .site-header{
	    .header-main{
		    flex-wrap:wrap;
			align-items:center;
			justify-content:flex-start;
			.menu{
				position:fixed;
				top:0;
				right:-100%;
				bottom:0;
				width:100%;
				z-index:1;
				background:rgba(0,0,0,.8);
				backdrop-filter: blur(5px);
				z-index:999;
				padding:80px 0 0 0;
				-webkit-transition:0.3s all;
				transition:0.3s all;
				ul{
					flex-wrap:wrap;
					flex-direction:column;
					width:100%;
					height:100%;
					justify-content:flex-start;
					li{
						margin:0;
						a{
							padding:6px 20px;
							display:inline-block;
							width:100%;
							border-bottom:1px solid #fff;
							box-sizing:border-box;
							font-size:14px;
						}

					}

				}
			}



		    .logo{
				width:90%;
				width:calc(100% - 30px);
			}
			

		}
		&.active{
				.logo{
					z-index:9999;
				}
				.header-main{
					.menu{
						right:0;
						-webkit-transition:0.3s all;
						transition:0.3s all;
					}
				}
				.responsive-menu{
					z-index:9999;
					span{
						background:transparent;
						&:before{
							transform:rotate(-45deg);
							top:0;
						}
						&:after{
							transform:rotate(45deg);
							top:0;
						}


					}
				}

			}
	}
    
	.container{
		max-width:100%;
	}
	h1,
	    .h1{
		font-size:32px;
	}
	h2{
		font-size:24px;
		line-height:30px;
	}
	.responsive-menu{
		display:flex;
		float:right;
	}
}
@media only screen and (max-width:568px){
	
    .photos-page-list .item{
		width:100%;
	}
    .work-list .item{
		width:100%;
	}
    .projects-list .item{
		width:100%!important;
	}
    .banner .banner-details h1{
		font-size:34px;
		margin-bottom:10px;
	}
    .banner .banner-details span{
		font-size:19px;
		margin-bottom:0;
	}
    .case-study .feature-img{
		height:300px;
	}
    .post-social button{
		margin-bottom:10px;
		padding:5px 10px!important;
		font-size:12px!important;
	}
    .projects-list .item .inner .details .date{
		font-size:12px;
	}
    .projects-list .item .inner .details .title{
		font-size:20px;
	}
}
@media only screen and (max-width:480px){
	
    .about-main .left .gatsby-image-wrapper{
		height:400px;
	}
}
